<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout.html}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main layout:fragment="content">
		<h1>Hello World!</h1>
		<p sec:authorize="isAuthenticated()">
			<span th:text="${#authentication.principal.member.me_id}"></span>님 반갑습니다.<br>
			당신의 이메일은 <span th:text="${#authentication.principal.member.me_email}"></span> 입니다.
		</p>
	</main>
</body>
</html>