<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.spring.dao.PostDAO">
	<select id="selectCommunityList" resultType="CommunityVO">
		SELECT COMMUNITY.*, COUNT(PO_CO_NUM) AS CO_COUNT 
		FROM 
			COMMUNITY
		LEFT JOIN
			POST ON CO_NUM = PO_CO_NUM
		GROUP BY CO_NUM
		ORDER BY CO_NUM
	</select>
	<select id="selectPostList" resultType="PostVO">
		SELECT * 
		FROM 
			POST 
		WHERE PO_CO_NUM = #{cri.co_num}
		<choose>
			<when test="cri.type == 'title'">
			AND PO_TITLE LIKE CONCAT('%', #{cri.search}, '%')
			</when>
			<when test="cri.type == 'id'">
			AND PO_ME_ID = #{cri.search}
			</when>
			<otherwise>
			AND (PO_TITLE LIKE CONCAT('%', #{cri.search}, '%') OR PO_ME_ID = #{cri.search})
			</otherwise>
		</choose>
		ORDER BY PO_NUM DESC
		LIMIT #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="selectPostTotalCount" resultType="int">
		SELECT COUNT(*) 
		FROM 
			POST 
		WHERE PO_CO_NUM = #{cri.co_num}
		<choose>
			<when test="cri.type == 'title'">
			AND PO_TITLE LIKE CONCAT('%', #{cri.search}, '%')
			</when>
			<when test="cri.type == 'id'">
			AND PO_ME_ID = #{cri.search}
			</when>
			<otherwise>
			AND (PO_TITLE LIKE CONCAT('%', #{cri.search}, '%') OR PO_ME_ID = #{cri.search})
			</otherwise>
		</choose>
	</select>
	<insert id="insertPost" keyProperty="post.po_num" useGeneratedKeys="true">
		INSERT INTO POST(PO_TITLE, PO_CONTENT, PO_CO_NUM, PO_ME_ID) VALUES
		(#{post.po_title}, #{post.po_content}, #{post.po_co_num}, #{post.po_me_id})
	</insert>
	<insert id="insertFile">
		INSERT INTO FILE(FI_NAME, FI_ORI_NAME, FI_PO_NUM) VALUES
		(#{file.fi_name}, #{file.fi_ori_name}, #{file.fi_po_num})
	</insert>
	<update id="updateView">
		UPDATE POST SET PO_VIEW = PO_VIEW + 1 WHERE PO_NUM = #{po_num}
	</update>
	<select id="selectPost" resultType="PostVO">
		SELECT *
		FROM
			POST
		WHERE PO_NUM = #{po_num}
	</select>
	<select id="selectFileList" resultType="FileVO">
		SELECT *
		FROM
			FILE
		WHERE FI_PO_NUM = #{po_num}
	</select>
	<select id="selectFile" resultType="FileVO">
		SELECT *
		FROM
			FILE
		WHERE FI_NUM = #{fi_num}
	</select>
	<delete id="deleteFile">
		DELETE
		FROM
			FILE
		WHERE FI_NUM = #{fi_num}
	</delete>
	<update id="updatePost">
		UPDATE POST
		SET
			PO_TITLE = #{post.po_title},
			PO_CONTENT = #{post.po_content}
		WHERE
			PO_NUM = #{post.po_num}
	</update>
	<delete id="deletePost">
		DELETE
		FROM
			POST
		WHERE PO_NUM = #{po_num}
	</delete>
	<insert id="insertCommunity">
		INSERT INTO COMMUNITY(CO_NAME) VALUES
		(#{co_name})
	</insert>
	<delete id="deleteCommunity">
		DELETE FROM COMMUNITY WHERE CO_NUM = #{co_num}
	</delete>
	<update id="updateCommunity">
		UPDATE COMMUNITY SET CO_NAME = #{community.co_name} WHERE CO_NUM = #{community.co_num}
	</update>
</mapper>
