<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.spring1.dao.PostDAO">
	<select id="selectCommunityList" resultType="CommunityVO">
		SELECT * FROM COMMUNITY
	</select>
	<select id="selectPostList" resultType="PostVO">
		SELECT * 
		FROM 
			POST 
		WHERE 
			PO_CO_NUM = #{co_num}
		ORDER BY PO_NUM DESC
		LIMIT #{pageStart}, #{perPageNum}
	</select>
	<select id="selectPostTotalCount" resultType="int">
		SELECT COUNT(*)
		FROM
			POST
		WHERE PO_CO_NUM = #{co_num}
	</select>
	<insert id="insertPost">
		INSERT INTO POST(PO_TITLE, PO_CONTENT, PO_ME_ID, PO_CO_NUM) VALUES
		(#{po_title}, #{po_content}, #{po_me_id}, #{po_co_num})
	</insert>
	<select id="selectPost" resultType="PostVO">
		SELECT *
		FROM
			POST
		WHERE PO_NUM = #{po_num}
	</select>
	<update id="updateView">
		UPDATE POST SET PO_VIEW = PO_VIEW + 1 WHERE PO_NUM = #{po_num}
	</update>
	<delete id="deletePost">
		DELETE FROM POST WHERE PO_NUM = #{po_num}
	</delete>
	<update id="updatePost">
		UPDATE POST
		SET
			PO_TITLE = #{po_title},
			PO_CONTENT = #{po_content}
		WHERE
			PO_NUM = #{po_num}
	</update>
</mapper>
