<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.spring.dao.MemberDAO">
	<insert id="insertMember">
		INSERT INTO MEMBER(ME_ID, ME_PW, ME_EMAIL, ME_MS_NAME) VALUES
		(#{m.me_id}, #{m.me_pw}, #{m.me_email}, '사용')
	</insert>
	<select id="selectMember" resultType="MemberVO">
		SELECT *
		FROM
			MEMBER
		WHERE
			ME_ID = #{me_id}
	</select>
	<update id="updateMemberCookie">
		UPDATE MEMBER SET ME_COOKIE = #{user.me_cookie}, ME_LIMIT = #{user.me_limit}
		WHERE ME_ID = #{user.me_id}
	</update>
	<select id="selectMemberByCookie" resultType="MemberVO">
		SELECT *
		FROM
			MEMBER
		WHERE
			ME_COOKIE = #{me_cookie} AND ME_LIMIT > NOW()
	</select>
	<update id="updateMember">
		UPDATE MEMBER
		SET
			ME_PW = #{user.me_pw}
		WHERE
			ME_ID = #{user.me_id}
	</update>
</mapper>
