<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.spring_react.dao.MemberDAO">

	<insert id="insertMember">
		INSERT INTO MEMBER(ME_ID, ME_PW, ME_EMAIL, ME_MS_NAME) VALUES
		(#{me.me_id}, #{me.me_pw}, #{me.me_email}, '사용')
	</insert>
  
</mapper>