<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.app.dao.PostDAO">
	<select id="selectCommunityList" resultType="communityVO">
		SELECT *
		FROM
			COMMUNITY
		ORDER BY CO_NUM
	</select>
	<select id="selectCommunity" resultType="CommunityVO">
		SELECT *
		FROM
			COMMUNITY
		WHERE CO_NUM = #{co_num}
	</select>
	<select id="selectPostList" resultType="PostVO">
		SELECT POST.*,
			COUNT(IF(RE_STATE=1, RE_STATE, NULL)) PO_UP,
			COUNT(IF(RE_STATE=-1, RE_STATE, NULL)) PO_DOWN
		FROM
			POST
		LEFT JOIN
			RECOMMEND ON PO_NUM = RE_PO_NUM
		WHERE PO_CO_NUM = #{cri.co_num}
		<if test="cri.type == 'all'">
		AND (PO_TITLE LIKE CONCAT('%', #{cri.search}, '%') OR PO_ME_ID = #{cri.search})
		</if>
		<if test="cri.type == 'title'">
		AND PO_TITLE LIKE CONCAT('%', #{cri.search}, '%')
		</if>
		<if test="cri.type == 'id'">
		AND PO_ME_ID = #{cri.search}
		</if>
		GROUP BY PO_NUM
		ORDER BY PO_NUM DESC
		LIMIT #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="selectPostTotalCount" resultType="int" >
		SELECT COUNT(*)
		FROM
			POST
		WHERE PO_CO_NUM = #{cri.co_num}
		<if test="cri.type == 'all'">
		AND (PO_TITLE LIKE CONCAT('%', #{cri.search}, '%') OR PO_ME_ID = #{cri.search})
		</if>
		<if test="cri.type == 'title'">
		AND PO_TITLE LIKE CONCAT('%', #{cri.search}, '%')
		</if>
		<if test="cri.type == 'id'">
		AND PO_ME_ID = #{cri.search}
		</if>
	</select>
	<insert id="insertPost" useGeneratedKeys="true" keyProperty="post.po_num">
		INSERT INTO POST(PO_CO_NUM, PO_ME_ID, PO_TITLE, PO_CONTENT) VALUES
		(#{post.po_co_num}, #{post.po_me_id}, #{post.po_title}, #{post.po_content})
	</insert>
	<select id="selectPost" resultType="PostVO">
		SELECT 
			POST.*,
			COUNT(IF(RE_STATE=1, RE_STATE, NULL)) PO_UP,
			COUNT(IF(RE_STATE=-1, RE_STATE, NULL)) PO_DOWN
		FROM
			POST
		LEFT JOIN
			RECOMMEND ON PO_NUM = RE_PO_NUM
		WHERE PO_NUM = #{po_num}
		GROUP BY PO_NUM
	</select>
	<update id="updatePostView">
		UPDATE POST SET PO_VIEW = PO_VIEW + 1 WHERE PO_NUM = #{po_num}
	</update>
	<update id="updatePost">
		UPDATE POST 
		SET 
			PO_TITLE = #{post.po_title}, 
			PO_CONTENT = #{post.po_content}
	 	WHERE 
	 		PO_NUM = #{post.po_num}
	</update>
	<delete id="deletePost">
		DELETE FROM POST WHERE PO_NUM = #{po_num}
	</delete>
	<select id="selectRecommend" resultType="RecommendVO">
		SELECT *
		FROM
			RECOMMEND
		WHERE 
			RE_ME_ID = #{re.re_me_id} 
			AND RE_PO_NUM = #{re.re_po_num}
	</select>
	<delete id="deleteRecommend">
		DELETE FROM RECOMMEND WHERE RE_NUM = #{re_num}
	</delete>
	<insert id="insertRecommend">
		INSERT INTO RECOMMEND(RE_ME_ID, RE_PO_NUM, RE_STATE) VALUES
		(#{re.re_me_id}, #{re.re_po_num}, #{re.re_state})
	</insert>
	<select id="selectCommentList" resultType="CommentVO">
		SELECT *
		FROM
			COMMENT
		WHERE CM_PO_NUM = #{cri.po_num}
		ORDER BY CM_ORI_NUM DESC, CM_NUM ASC
		LIMIT #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="selectCommentTotalCount" resultType="int">
		SELECT COUNT(*)
		FROM
			COMMENT
		WHERE CM_PO_NUM = #{cri.po_num}
	</select>
	<insert id="insertComment">
		INSERT INTO COMMENT(CM_NUM, CM_CONTENT, CM_PO_NUM, CM_ORI_NUM, CM_ME_ID)
		SELECT
			IFNULL(MAX(CM_NUM), 0) + 1,
			#{cm.cm_content},
			#{cm.cm_po_num},
		<choose>
			<when test="cm.cm_ori_num == 0">
				IFNULL(MAX(CM_NUM), 0) + 1,
			</when>
			<otherwise>
				#{cm.cm_ori_num}
			</otherwise>
		</choose>
			#{cm.cm_me_id}
		FROM COMMENT
	</insert>
		<select id="selectComment" resultType="CommentVO">
		SELECT * 
		FROM 
			COMMENT
		WHERE CM_NUM = #{cm_num}
	</select>
	<delete id="deleteComment">
		DELETE FROM COMMENT WHERE CM_NUM = #{cm_num}
	</delete>
	<update id="updateComment">
		UPDATE 
			COMMENT 
		SET 
			CM_CONTENT = #{cm.cm_content}
		WHERE 
			CM_NUM = #{cm.cm_num}
	</update>
	<insert id="insertFile">
		INSERT INTO FILE(FI_PO_NUM, FI_NAME, FI_ORI_NAME) VALUES
		(#{file.fi_po_num},#{file.fi_name},#{file.fi_ori_name})
	</insert>
	<select id="selectFileList" resultType="FileVO">
		SELECT *
		FROM
			FILE
		WHERE FI_PO_NUM = #{po_num}
	</select>
	<select id="selectFile" resultType="FileVO">
		SELECT *
		FROM
			FILE
		WHERE FI_NUM = #{fi_num}
	</select>
	<delete id="deleteFile">
		DELETE FROM FILE WHERE FI_NUM = #{fi_num}
	</delete>
</mapper>