<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.app.dao.PostDAO">
	<select id="selectCommunityList" resultType="communityVO">
		SELECT *
		FROM
			COMMUNITY
		ORDER BY CO_NUM
	</select>
	<select id="selectCommunity" resultType="CommunityVO">
		SELECT *
		FROM
			COMMUNITY
		WHERE CO_NUM = #{co_num}
	</select>
	<select id="selectPostList" resultType="PostVO">
		SELECT *
		FROM
			POST
		WHERE PO_CO_NUM = #{cri.co_num}
		<if test="cri.type == 'all'">
		AND (PO_TITLE LIKE CONCAT('%', #{cri.search}, '%') OR PO_ME_ID = #{cri.search})
		</if>
		<if test="cri.type == 'title'">
		AND PO_TITLE LIKE CONCAT('%', #{cri.search}, '%')
		</if>
		<if test="cri.type == 'id'">
		AND PO_ME_ID = #{cri.search}
		</if>
		ORDER BY PO_NUM DESC
		LIMIT #{cri.pageStart}, #{cri.perPageNum}
	</select>
	<select id="selectPostTotalCount" resultType="int" >
		SELECT COUNT(*)
		FROM
			POST
		WHERE PO_CO_NUM = #{cri.co_num}
		<if test="cri.type == 'all'">
		AND (PO_TITLE LIKE CONCAT('%', #{cri.search}, '%') OR PO_ME_ID = #{cri.search})
		</if>
		<if test="cri.type == 'title'">
		AND PO_TITLE LIKE CONCAT('%', #{cri.search}, '%')
		</if>
		<if test="cri.type == 'id'">
		AND PO_ME_ID = #{cri.search}
		</if>
	</select>
	<insert id="insertPost">
		INSERT INTO POST(PO_CO_NUM, PO_ME_ID, PO_TITLE, PO_CONTENT) VALUES
		(#{post.po_co_num}, #{post.po_me_id}, #{post.po_title}, #{post.po_content})
	</insert>
	<select id="selectPost" resultType="PostVO">
		SELECT *
		FROM
			POST
		WHERE PO_NUM = #{po_num}
	</select>
	<update id="updatePostView">
		UPDATE POST SET PO_VIEW = PO_VIEW + 1 WHERE PO_NUM = #{po_num}
	</update>
	<update id="updatePost">
		UPDATE POST 
		SET 
			PO_TITLE = #{post.po_title}, 
			PO_CONTENT = #{post.po_content}
	 	WHERE 
	 		PO_NUM = #{post.po_num}
	</update>
	<delete id="deletePost">
		DELETE FROM POST WHERE PO_NUM = #{po_num}
	</delete>
</mapper>